/*
yukiyama

API version: 10.3.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gen

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// RankingAPIService RankingAPI service
type RankingAPIService service

type ApiGetRankingGroupListRequest struct {
	ctx         context.Context
	ApiService  *RankingAPIService
	userId      *int32
	token       *string
	rankingType *RankingType
	groupId     *int32
	skiareaId   *int32
}

// Automatically injected by SDK transport layer.
func (r ApiGetRankingGroupListRequest) UserId(userId int32) ApiGetRankingGroupListRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetRankingGroupListRequest) Token(token string) ApiGetRankingGroupListRequest {
	r.token = &token
	return r
}

func (r ApiGetRankingGroupListRequest) RankingType(rankingType RankingType) ApiGetRankingGroupListRequest {
	r.rankingType = &rankingType
	return r
}

func (r ApiGetRankingGroupListRequest) GroupId(groupId int32) ApiGetRankingGroupListRequest {
	r.groupId = &groupId
	return r
}

func (r ApiGetRankingGroupListRequest) SkiareaId(skiareaId int32) ApiGetRankingGroupListRequest {
	r.skiareaId = &skiareaId
	return r
}

func (r ApiGetRankingGroupListRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetRankingGroupListExecute(r)
}

/*
GetRankingGroupList GET ranking/get_ranking_group_list (getRankingGroupList)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRankingGroupListRequest
*/
func (a *RankingAPIService) GetRankingGroupList(ctx context.Context) ApiGetRankingGroupListRequest {
	return ApiGetRankingGroupListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *RankingAPIService) GetRankingGroupListExecute(r ApiGetRankingGroupListRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetRankingGroupList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ranking/get_ranking_group_list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.rankingType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ranking_type", r.rankingType, "form", "")
	}
	if r.groupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_id", r.groupId, "form", "")
	}
	if r.skiareaId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skiarea_id", r.skiareaId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRankingListRequest struct {
	ctx                   context.Context
	ApiService            *RankingAPIService
	userId                *int32
	token                 *string
	rankingType           *RankingType
	rankingTerm           *RankingTerm
	rankingTarget         *string
	rankingCategory       *RankingCategory
	rankingCategoryAge    *string
	rankingCategoryGender *string
	rankingSkiareaId      *int32
}

// Automatically injected by SDK transport layer.
func (r ApiGetRankingListRequest) UserId(userId int32) ApiGetRankingListRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetRankingListRequest) Token(token string) ApiGetRankingListRequest {
	r.token = &token
	return r
}

func (r ApiGetRankingListRequest) RankingType(rankingType RankingType) ApiGetRankingListRequest {
	r.rankingType = &rankingType
	return r
}

func (r ApiGetRankingListRequest) RankingTerm(rankingTerm RankingTerm) ApiGetRankingListRequest {
	r.rankingTerm = &rankingTerm
	return r
}

func (r ApiGetRankingListRequest) RankingTarget(rankingTarget string) ApiGetRankingListRequest {
	r.rankingTarget = &rankingTarget
	return r
}

func (r ApiGetRankingListRequest) RankingCategory(rankingCategory RankingCategory) ApiGetRankingListRequest {
	r.rankingCategory = &rankingCategory
	return r
}

func (r ApiGetRankingListRequest) RankingCategoryAge(rankingCategoryAge string) ApiGetRankingListRequest {
	r.rankingCategoryAge = &rankingCategoryAge
	return r
}

func (r ApiGetRankingListRequest) RankingCategoryGender(rankingCategoryGender string) ApiGetRankingListRequest {
	r.rankingCategoryGender = &rankingCategoryGender
	return r
}

func (r ApiGetRankingListRequest) RankingSkiareaId(rankingSkiareaId int32) ApiGetRankingListRequest {
	r.rankingSkiareaId = &rankingSkiareaId
	return r
}

func (r ApiGetRankingListRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetRankingListExecute(r)
}

/*
GetRankingList GET ranking/get_ranking_list (getRankingList)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRankingListRequest
*/
func (a *RankingAPIService) GetRankingList(ctx context.Context) ApiGetRankingListRequest {
	return ApiGetRankingListRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *RankingAPIService) GetRankingListExecute(r ApiGetRankingListRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetRankingList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ranking/get_ranking_list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.rankingType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ranking_type", r.rankingType, "form", "")
	}
	if r.rankingTerm != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ranking_term", r.rankingTerm, "form", "")
	}
	if r.rankingTarget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ranking_target", r.rankingTarget, "form", "")
	}
	if r.rankingCategory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ranking_category", r.rankingCategory, "form", "")
	}
	if r.rankingCategoryAge != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ranking_category_age", r.rankingCategoryAge, "form", "")
	}
	if r.rankingCategoryGender != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ranking_category_gender", r.rankingCategoryGender, "form", "")
	}
	if r.rankingSkiareaId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ranking_skiarea_id", r.rankingSkiareaId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRankingMasterRequest struct {
	ctx        context.Context
	ApiService *RankingAPIService
	userId     *int32
	token      *string
}

// Automatically injected by SDK transport layer.
func (r ApiGetRankingMasterRequest) UserId(userId int32) ApiGetRankingMasterRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetRankingMasterRequest) Token(token string) ApiGetRankingMasterRequest {
	r.token = &token
	return r
}

func (r ApiGetRankingMasterRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetRankingMasterExecute(r)
}

/*
GetRankingMaster GET ranking/get_ranking_master (getRankingMaster)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRankingMasterRequest
*/
func (a *RankingAPIService) GetRankingMaster(ctx context.Context) ApiGetRankingMasterRequest {
	return ApiGetRankingMasterRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *RankingAPIService) GetRankingMasterExecute(r ApiGetRankingMasterRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetRankingMaster")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ranking/get_ranking_master"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
