/*
yukiyama

API version: 10.3.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gen

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CheckinAPIService CheckinAPI service
type CheckinAPIService service

type ApiCheckIsCheckedInRequest struct {
	ctx        context.Context
	ApiService *CheckinAPIService
	userId     *int32
	token      *string
	skiareaId  *int32
}

// Automatically injected by SDK transport layer.
func (r ApiCheckIsCheckedInRequest) UserId(userId int32) ApiCheckIsCheckedInRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiCheckIsCheckedInRequest) Token(token string) ApiCheckIsCheckedInRequest {
	r.token = &token
	return r
}

func (r ApiCheckIsCheckedInRequest) SkiareaId(skiareaId int32) ApiCheckIsCheckedInRequest {
	r.skiareaId = &skiareaId
	return r
}

func (r ApiCheckIsCheckedInRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.CheckIsCheckedInExecute(r)
}

/*
CheckIsCheckedIn GET checkin/get_is_checkin (checkIsCheckedIn)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCheckIsCheckedInRequest
*/
func (a *CheckinAPIService) CheckIsCheckedIn(ctx context.Context) ApiCheckIsCheckedInRequest {
	return ApiCheckIsCheckedInRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) CheckIsCheckedInExecute(r ApiCheckIsCheckedInRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.CheckIsCheckedIn")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get_is_checkin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.skiareaId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skiarea_id", r.skiareaId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCheckinRequest struct {
	ctx        context.Context
	ApiService *CheckinAPIService
	userId     *int32
	token      *string
	checkinId  *int32
}

// Automatically injected by SDK transport layer.
func (r ApiGetCheckinRequest) UserId(userId int32) ApiGetCheckinRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetCheckinRequest) Token(token string) ApiGetCheckinRequest {
	r.token = &token
	return r
}

func (r ApiGetCheckinRequest) CheckinId(checkinId int32) ApiGetCheckinRequest {
	r.checkinId = &checkinId
	return r
}

func (r ApiGetCheckinRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetCheckinExecute(r)
}

/*
GetCheckin GET checkin/get (getCheckin)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCheckinRequest
*/
func (a *CheckinAPIService) GetCheckin(ctx context.Context) ApiGetCheckinRequest {
	return ApiGetCheckinRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) GetCheckinExecute(r ApiGetCheckinRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.GetCheckin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.checkinId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checkin_id", r.checkinId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCheckinGeodataRequest struct {
	ctx        context.Context
	ApiService *CheckinAPIService
	userId     *int32
	skiareaId  *int32
	checkinId  *int32
}

// Automatically injected by SDK transport layer.
func (r ApiGetCheckinGeodataRequest) UserId(userId int32) ApiGetCheckinGeodataRequest {
	r.userId = &userId
	return r
}

func (r ApiGetCheckinGeodataRequest) SkiareaId(skiareaId int32) ApiGetCheckinGeodataRequest {
	r.skiareaId = &skiareaId
	return r
}

func (r ApiGetCheckinGeodataRequest) CheckinId(checkinId int32) ApiGetCheckinGeodataRequest {
	r.checkinId = &checkinId
	return r
}

func (r ApiGetCheckinGeodataRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetCheckinGeodataExecute(r)
}

/*
GetCheckinGeodata GET checkin/get_geodata (getCheckinGeodata)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCheckinGeodataRequest
*/
func (a *CheckinAPIService) GetCheckinGeodata(ctx context.Context) ApiGetCheckinGeodataRequest {
	return ApiGetCheckinGeodataRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) GetCheckinGeodataExecute(r ApiGetCheckinGeodataRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.GetCheckinGeodata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get_geodata"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.skiareaId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skiarea_id", r.skiareaId, "form", "")
	}
	if r.checkinId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checkin_id", r.checkinId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCheckinGroupDetailRequest struct {
	ctx        context.Context
	ApiService *CheckinAPIService
	userId     *int32
	token      *string
	groupId    *int32
}

// Automatically injected by SDK transport layer.
func (r ApiGetCheckinGroupDetailRequest) UserId(userId int32) ApiGetCheckinGroupDetailRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetCheckinGroupDetailRequest) Token(token string) ApiGetCheckinGroupDetailRequest {
	r.token = &token
	return r
}

func (r ApiGetCheckinGroupDetailRequest) GroupId(groupId int32) ApiGetCheckinGroupDetailRequest {
	r.groupId = &groupId
	return r
}

func (r ApiGetCheckinGroupDetailRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetCheckinGroupDetailExecute(r)
}

/*
GetCheckinGroupDetail GET checkin/get_group_detail (getCheckinGroupDetail)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCheckinGroupDetailRequest
*/
func (a *CheckinAPIService) GetCheckinGroupDetail(ctx context.Context) ApiGetCheckinGroupDetailRequest {
	return ApiGetCheckinGroupDetailRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) GetCheckinGroupDetailExecute(r ApiGetCheckinGroupDetailRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.GetCheckinGroupDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get_group_detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.groupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_id", r.groupId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCheckinTimelineRequest struct {
	ctx           context.Context
	ApiService    *CheckinAPIService
	max           *int32
	offset        *int32
	order         *string
	group         *string
	targetUser    *string
	targetSkiarea *string
	targetTopics  *string
	findOption    *string
	isDebugger    *int32
	apiVer        *int32
}

// Page size (page-window length). Pair with &#x60;offset&#x60;.
func (r ApiGetCheckinTimelineRequest) Max(max int32) ApiGetCheckinTimelineRequest {
	r.max = &max
	return r
}

// Page offset in items (not pages).
func (r ApiGetCheckinTimelineRequest) Offset(offset int32) ApiGetCheckinTimelineRequest {
	r.offset = &offset
	return r
}

// Sort order. Observed value: \&quot;new\&quot;.
func (r ApiGetCheckinTimelineRequest) Order(order string) ApiGetCheckinTimelineRequest {
	r.order = &order
	return r
}

// Optional group_id filter (empty string &#x3D; unfiltered).
func (r ApiGetCheckinTimelineRequest) Group(group string) ApiGetCheckinTimelineRequest {
	r.group = &group
	return r
}

// Optional target user_id filter (empty string &#x3D; unfiltered).
func (r ApiGetCheckinTimelineRequest) TargetUser(targetUser string) ApiGetCheckinTimelineRequest {
	r.targetUser = &targetUser
	return r
}

// Optional target skiarea_id filter (empty string &#x3D; unfiltered).
func (r ApiGetCheckinTimelineRequest) TargetSkiarea(targetSkiarea string) ApiGetCheckinTimelineRequest {
	r.targetSkiarea = &targetSkiarea
	return r
}

// Optional target topics filter (empty string &#x3D; unfiltered).
func (r ApiGetCheckinTimelineRequest) TargetTopics(targetTopics string) ApiGetCheckinTimelineRequest {
	r.targetTopics = &targetTopics
	return r
}

// JSON-encoded advanced search options (hash_tag etc).
func (r ApiGetCheckinTimelineRequest) FindOption(findOption string) ApiGetCheckinTimelineRequest {
	r.findOption = &findOption
	return r
}

// Debugger flag (0 / 1).
func (r ApiGetCheckinTimelineRequest) IsDebugger(isDebugger int32) ApiGetCheckinTimelineRequest {
	r.isDebugger = &isDebugger
	return r
}

// Internal API revision selector. Observed value: 2.
func (r ApiGetCheckinTimelineRequest) ApiVer(apiVer int32) ApiGetCheckinTimelineRequest {
	r.apiVer = &apiVer
	return r
}

func (r ApiGetCheckinTimelineRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetCheckinTimelineExecute(r)
}

/*
GetCheckinTimeline GET checkin/get_timeline (getCheckinTimeline)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCheckinTimelineRequest
*/
func (a *CheckinAPIService) GetCheckinTimeline(ctx context.Context) ApiGetCheckinTimelineRequest {
	return ApiGetCheckinTimelineRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) GetCheckinTimelineExecute(r ApiGetCheckinTimelineRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.GetCheckinTimeline")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get_timeline"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.group != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group", r.group, "form", "")
	}
	if r.targetUser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_user", r.targetUser, "form", "")
	}
	if r.targetSkiarea != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_skiarea", r.targetSkiarea, "form", "")
	}
	if r.targetTopics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_topics", r.targetTopics, "form", "")
	}
	if r.findOption != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "find_option", r.findOption, "form", "")
	}
	if r.isDebugger != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_debugger", r.isDebugger, "form", "")
	}
	if r.apiVer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_ver", r.apiVer, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCheckinTimelineWithTopicsRequest struct {
	ctx           context.Context
	ApiService    *CheckinAPIService
	max           *int32
	offset        *int32
	order         *string
	group         *string
	targetUser    *string
	targetSkiarea *string
	targetTopics  *string
	findOption    *string
	isDebugger    *int32
	apiVer        *int32
	cmd           *string
}

// Page size.
func (r ApiGetCheckinTimelineWithTopicsRequest) Max(max int32) ApiGetCheckinTimelineWithTopicsRequest {
	r.max = &max
	return r
}

// Page offset in items.
func (r ApiGetCheckinTimelineWithTopicsRequest) Offset(offset int32) ApiGetCheckinTimelineWithTopicsRequest {
	r.offset = &offset
	return r
}

// Sort order. Observed value: \&quot;new\&quot;.
func (r ApiGetCheckinTimelineWithTopicsRequest) Order(order string) ApiGetCheckinTimelineWithTopicsRequest {
	r.order = &order
	return r
}

// Optional group_id filter.
func (r ApiGetCheckinTimelineWithTopicsRequest) Group(group string) ApiGetCheckinTimelineWithTopicsRequest {
	r.group = &group
	return r
}

// Optional target user_id filter.
func (r ApiGetCheckinTimelineWithTopicsRequest) TargetUser(targetUser string) ApiGetCheckinTimelineWithTopicsRequest {
	r.targetUser = &targetUser
	return r
}

// Optional target skiarea_id filter.
func (r ApiGetCheckinTimelineWithTopicsRequest) TargetSkiarea(targetSkiarea string) ApiGetCheckinTimelineWithTopicsRequest {
	r.targetSkiarea = &targetSkiarea
	return r
}

// Optional target topics filter.
func (r ApiGetCheckinTimelineWithTopicsRequest) TargetTopics(targetTopics string) ApiGetCheckinTimelineWithTopicsRequest {
	r.targetTopics = &targetTopics
	return r
}

// JSON-encoded advanced search options.
func (r ApiGetCheckinTimelineWithTopicsRequest) FindOption(findOption string) ApiGetCheckinTimelineWithTopicsRequest {
	r.findOption = &findOption
	return r
}

// Debugger flag.
func (r ApiGetCheckinTimelineWithTopicsRequest) IsDebugger(isDebugger int32) ApiGetCheckinTimelineWithTopicsRequest {
	r.isDebugger = &isDebugger
	return r
}

// Internal API revision selector.
func (r ApiGetCheckinTimelineWithTopicsRequest) ApiVer(apiVer int32) ApiGetCheckinTimelineWithTopicsRequest {
	r.apiVer = &apiVer
	return r
}

// Optional sub-command. Observed: \&quot;get_total\&quot; returns only total count.
func (r ApiGetCheckinTimelineWithTopicsRequest) Cmd(cmd string) ApiGetCheckinTimelineWithTopicsRequest {
	r.cmd = &cmd
	return r
}

func (r ApiGetCheckinTimelineWithTopicsRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetCheckinTimelineWithTopicsExecute(r)
}

/*
GetCheckinTimelineWithTopics GET checkin/get_timeline_with_topics (getCheckinTimelineWithTopics)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCheckinTimelineWithTopicsRequest
*/
func (a *CheckinAPIService) GetCheckinTimelineWithTopics(ctx context.Context) ApiGetCheckinTimelineWithTopicsRequest {
	return ApiGetCheckinTimelineWithTopicsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) GetCheckinTimelineWithTopicsExecute(r ApiGetCheckinTimelineWithTopicsRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.GetCheckinTimelineWithTopics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get_timeline_with_topics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.group != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group", r.group, "form", "")
	}
	if r.targetUser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_user", r.targetUser, "form", "")
	}
	if r.targetSkiarea != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_skiarea", r.targetSkiarea, "form", "")
	}
	if r.targetTopics != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_topics", r.targetTopics, "form", "")
	}
	if r.findOption != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "find_option", r.findOption, "form", "")
	}
	if r.isDebugger != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_debugger", r.isDebugger, "form", "")
	}
	if r.apiVer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api_ver", r.apiVer, "form", "")
	}
	if r.cmd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cmd", r.cmd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRideForGoodInfoRequest struct {
	ctx        context.Context
	ApiService *CheckinAPIService
}

func (r ApiGetRideForGoodInfoRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetRideForGoodInfoExecute(r)
}

/*
GetRideForGoodInfo GET checkin/get_rideforgood (getRideForGoodInfo)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRideForGoodInfoRequest
*/
func (a *CheckinAPIService) GetRideForGoodInfo(ctx context.Context) ApiGetRideForGoodInfoRequest {
	return ApiGetRideForGoodInfoRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) GetRideForGoodInfoExecute(r ApiGetRideForGoodInfoRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.GetRideForGoodInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get_rideforgood"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCheckinGroupMemberLocationsRequest struct {
	ctx        context.Context
	ApiService *CheckinAPIService
	userId     *int32
	token      *string
	groupId    *int32
}

// Automatically injected by SDK transport layer.
func (r ApiListCheckinGroupMemberLocationsRequest) UserId(userId int32) ApiListCheckinGroupMemberLocationsRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiListCheckinGroupMemberLocationsRequest) Token(token string) ApiListCheckinGroupMemberLocationsRequest {
	r.token = &token
	return r
}

func (r ApiListCheckinGroupMemberLocationsRequest) GroupId(groupId int32) ApiListCheckinGroupMemberLocationsRequest {
	r.groupId = &groupId
	return r
}

func (r ApiListCheckinGroupMemberLocationsRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.ListCheckinGroupMemberLocationsExecute(r)
}

/*
ListCheckinGroupMemberLocations GET checkin/get_group_member_location (listCheckinGroupMemberLocations)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListCheckinGroupMemberLocationsRequest
*/
func (a *CheckinAPIService) ListCheckinGroupMemberLocations(ctx context.Context) ApiListCheckinGroupMemberLocationsRequest {
	return ApiListCheckinGroupMemberLocationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) ListCheckinGroupMemberLocationsExecute(r ApiListCheckinGroupMemberLocationsRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.ListCheckinGroupMemberLocations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get_group_member_location"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.groupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_id", r.groupId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCheckinGroupsRequest struct {
	ctx        context.Context
	ApiService *CheckinAPIService
	userId     *int32
	token      *string
	skiareaId  *int32
}

// Automatically injected by SDK transport layer.
func (r ApiListCheckinGroupsRequest) UserId(userId int32) ApiListCheckinGroupsRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiListCheckinGroupsRequest) Token(token string) ApiListCheckinGroupsRequest {
	r.token = &token
	return r
}

func (r ApiListCheckinGroupsRequest) SkiareaId(skiareaId int32) ApiListCheckinGroupsRequest {
	r.skiareaId = &skiareaId
	return r
}

func (r ApiListCheckinGroupsRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.ListCheckinGroupsExecute(r)
}

/*
ListCheckinGroups GET checkin/get_group (listCheckinGroups)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListCheckinGroupsRequest
*/
func (a *CheckinAPIService) ListCheckinGroups(ctx context.Context) ApiListCheckinGroupsRequest {
	return ApiListCheckinGroupsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) ListCheckinGroupsExecute(r ApiListCheckinGroupsRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.ListCheckinGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get_group"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.skiareaId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skiarea_id", r.skiareaId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCheckinHistoryRequest struct {
	ctx        context.Context
	ApiService *CheckinAPIService
	id         *int32
	userId     *int32
	token      *string
	max        *int32
	offset     *int32
	seasonFrom *string
	seasonTo   *string
	isDebugger *int32
}

// Target checkin identifier (wire param name is &#x60;id&#x60;; semantically a checkin_id).
func (r ApiListCheckinHistoryRequest) Id(id int32) ApiListCheckinHistoryRequest {
	r.id = &id
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiListCheckinHistoryRequest) UserId(userId int32) ApiListCheckinHistoryRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiListCheckinHistoryRequest) Token(token string) ApiListCheckinHistoryRequest {
	r.token = &token
	return r
}

func (r ApiListCheckinHistoryRequest) Max(max int32) ApiListCheckinHistoryRequest {
	r.max = &max
	return r
}

func (r ApiListCheckinHistoryRequest) Offset(offset int32) ApiListCheckinHistoryRequest {
	r.offset = &offset
	return r
}

func (r ApiListCheckinHistoryRequest) SeasonFrom(seasonFrom string) ApiListCheckinHistoryRequest {
	r.seasonFrom = &seasonFrom
	return r
}

func (r ApiListCheckinHistoryRequest) SeasonTo(seasonTo string) ApiListCheckinHistoryRequest {
	r.seasonTo = &seasonTo
	return r
}

func (r ApiListCheckinHistoryRequest) IsDebugger(isDebugger int32) ApiListCheckinHistoryRequest {
	r.isDebugger = &isDebugger
	return r
}

func (r ApiListCheckinHistoryRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.ListCheckinHistoryExecute(r)
}

/*
ListCheckinHistory GET checkin/get_checkin_history (listCheckinHistory)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListCheckinHistoryRequest
*/
func (a *CheckinAPIService) ListCheckinHistory(ctx context.Context) ApiListCheckinHistoryRequest {
	return ApiListCheckinHistoryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) ListCheckinHistoryExecute(r ApiListCheckinHistoryRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.ListCheckinHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get_checkin_history"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.seasonFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "season_from", r.seasonFrom, "form", "")
	}
	if r.seasonTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "season_to", r.seasonTo, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.isDebugger != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_debugger", r.isDebugger, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCheckinInterestUsersRequest struct {
	ctx        context.Context
	ApiService *CheckinAPIService
	userId     *int32
	token      *string
	checkinId  *int32
	topicsId   *int32
}

// Automatically injected by SDK transport layer.
func (r ApiListCheckinInterestUsersRequest) UserId(userId int32) ApiListCheckinInterestUsersRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiListCheckinInterestUsersRequest) Token(token string) ApiListCheckinInterestUsersRequest {
	r.token = &token
	return r
}

func (r ApiListCheckinInterestUsersRequest) CheckinId(checkinId int32) ApiListCheckinInterestUsersRequest {
	r.checkinId = &checkinId
	return r
}

func (r ApiListCheckinInterestUsersRequest) TopicsId(topicsId int32) ApiListCheckinInterestUsersRequest {
	r.topicsId = &topicsId
	return r
}

func (r ApiListCheckinInterestUsersRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.ListCheckinInterestUsersExecute(r)
}

/*
ListCheckinInterestUsers GET checkin/get_interest_user_list (listCheckinInterestUsers)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListCheckinInterestUsersRequest
*/
func (a *CheckinAPIService) ListCheckinInterestUsers(ctx context.Context) ApiListCheckinInterestUsersRequest {
	return ApiListCheckinInterestUsersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *CheckinAPIService) ListCheckinInterestUsersExecute(r ApiListCheckinInterestUsersRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckinAPIService.ListCheckinInterestUsers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/checkin/get_interest_user_list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.checkinId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checkin_id", r.checkinId, "form", "")
	}
	if r.topicsId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topics_id", r.topicsId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
