/*
yukiyama

API version: 10.3.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gen

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// SkiareaAPIService SkiareaAPI service
type SkiareaAPIService service

type ApiFindSkiareaEventsRequest struct {
	ctx        context.Context
	ApiService *SkiareaAPIService
	userId     *int32
	keyword    *string
	findOption *string
	max        *int32
	offset     *int32
}

// Automatically injected by SDK transport layer.
func (r ApiFindSkiareaEventsRequest) UserId(userId int32) ApiFindSkiareaEventsRequest {
	r.userId = &userId
	return r
}

func (r ApiFindSkiareaEventsRequest) Keyword(keyword string) ApiFindSkiareaEventsRequest {
	r.keyword = &keyword
	return r
}

func (r ApiFindSkiareaEventsRequest) FindOption(findOption string) ApiFindSkiareaEventsRequest {
	r.findOption = &findOption
	return r
}

func (r ApiFindSkiareaEventsRequest) Max(max int32) ApiFindSkiareaEventsRequest {
	r.max = &max
	return r
}

func (r ApiFindSkiareaEventsRequest) Offset(offset int32) ApiFindSkiareaEventsRequest {
	r.offset = &offset
	return r
}

func (r ApiFindSkiareaEventsRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.FindSkiareaEventsExecute(r)
}

/*
FindSkiareaEvents GET skiarea/find_event (findSkiareaEvents)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiFindSkiareaEventsRequest
*/
func (a *SkiareaAPIService) FindSkiareaEvents(ctx context.Context) ApiFindSkiareaEventsRequest {
	return ApiFindSkiareaEventsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *SkiareaAPIService) FindSkiareaEventsExecute(r ApiFindSkiareaEventsRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SkiareaAPIService.FindSkiareaEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/skiarea/find_event"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.findOption != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "find_option", r.findOption, "form", "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindSkiareasByKeywordRequest struct {
	ctx        context.Context
	ApiService *SkiareaAPIService
	keyword    *string
	findOption *string
	isDebugger *int32
}

func (r ApiFindSkiareasByKeywordRequest) Keyword(keyword string) ApiFindSkiareasByKeywordRequest {
	r.keyword = &keyword
	return r
}

func (r ApiFindSkiareasByKeywordRequest) FindOption(findOption string) ApiFindSkiareasByKeywordRequest {
	r.findOption = &findOption
	return r
}

func (r ApiFindSkiareasByKeywordRequest) IsDebugger(isDebugger int32) ApiFindSkiareasByKeywordRequest {
	r.isDebugger = &isDebugger
	return r
}

func (r ApiFindSkiareasByKeywordRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.FindSkiareasByKeywordExecute(r)
}

/*
FindSkiareasByKeyword GET skiarea/find_by_keyword (findSkiareasByKeyword)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiFindSkiareasByKeywordRequest
*/
func (a *SkiareaAPIService) FindSkiareasByKeyword(ctx context.Context) ApiFindSkiareasByKeywordRequest {
	return ApiFindSkiareasByKeywordRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *SkiareaAPIService) FindSkiareasByKeywordExecute(r ApiFindSkiareasByKeywordRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SkiareaAPIService.FindSkiareasByKeyword")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/skiarea/find_by_keyword"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.findOption != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "find_option", r.findOption, "form", "")
	}
	if r.isDebugger != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_debugger", r.isDebugger, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindSkiareasByLocationRequest struct {
	ctx        context.Context
	ApiService *SkiareaAPIService
	id         *int32
	token      *string
	lat        *float32
	lon        *float32
	distance   *int32
	isDebugger *int32
}

// Calling user identifier (wire param name is &#x60;id&#x60;; semantically a user_id, NOT a skiarea_id despite the /skiarea/ prefix).
func (r ApiFindSkiareasByLocationRequest) Id(id int32) ApiFindSkiareasByLocationRequest {
	r.id = &id
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiFindSkiareasByLocationRequest) Token(token string) ApiFindSkiareasByLocationRequest {
	r.token = &token
	return r
}

func (r ApiFindSkiareasByLocationRequest) Lat(lat float32) ApiFindSkiareasByLocationRequest {
	r.lat = &lat
	return r
}

func (r ApiFindSkiareasByLocationRequest) Lon(lon float32) ApiFindSkiareasByLocationRequest {
	r.lon = &lon
	return r
}

func (r ApiFindSkiareasByLocationRequest) Distance(distance int32) ApiFindSkiareasByLocationRequest {
	r.distance = &distance
	return r
}

func (r ApiFindSkiareasByLocationRequest) IsDebugger(isDebugger int32) ApiFindSkiareasByLocationRequest {
	r.isDebugger = &isDebugger
	return r
}

func (r ApiFindSkiareasByLocationRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.FindSkiareasByLocationExecute(r)
}

/*
FindSkiareasByLocation GET skiarea/find_by_location (findSkiareasByLocation)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiFindSkiareasByLocationRequest
*/
func (a *SkiareaAPIService) FindSkiareasByLocation(ctx context.Context) ApiFindSkiareasByLocationRequest {
	return ApiFindSkiareasByLocationRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *SkiareaAPIService) FindSkiareasByLocationExecute(r ApiFindSkiareasByLocationRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SkiareaAPIService.FindSkiareasByLocation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/skiarea/find_by_location"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.lat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lat", r.lat, "form", "")
	}
	if r.lon != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lon", r.lon, "form", "")
	}
	if r.distance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distance", r.distance, "form", "")
	}
	if r.isDebugger != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_debugger", r.isDebugger, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSkiareaRequest struct {
	ctx          context.Context
	ApiService   *SkiareaAPIService
	id           *int32
	withEvaluate *string
}

// Target skiarea identifier (wire param name is &#x60;id&#x60;; semantically a skiarea_id).
func (r ApiGetSkiareaRequest) Id(id int32) ApiGetSkiareaRequest {
	r.id = &id
	return r
}

// Set to \&quot;yes\&quot; to include evaluation aggregates. Omit otherwise.
func (r ApiGetSkiareaRequest) WithEvaluate(withEvaluate string) ApiGetSkiareaRequest {
	r.withEvaluate = &withEvaluate
	return r
}

func (r ApiGetSkiareaRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetSkiareaExecute(r)
}

/*
GetSkiarea GET skiarea/get (getSkiarea)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSkiareaRequest
*/
func (a *SkiareaAPIService) GetSkiarea(ctx context.Context) ApiGetSkiareaRequest {
	return ApiGetSkiareaRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *SkiareaAPIService) GetSkiareaExecute(r ApiGetSkiareaRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SkiareaAPIService.GetSkiarea")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/skiarea/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.withEvaluate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_evaluate", r.withEvaluate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSkiareaEventRequest struct {
	ctx        context.Context
	ApiService *SkiareaAPIService
	eventId    *int32
}

// Target event identifier (NOT a skiarea_id; see EventModel.id).
func (r ApiGetSkiareaEventRequest) EventId(eventId int32) ApiGetSkiareaEventRequest {
	r.eventId = &eventId
	return r
}

func (r ApiGetSkiareaEventRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetSkiareaEventExecute(r)
}

/*
GetSkiareaEvent GET skiarea/get_event (getSkiareaEvent)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSkiareaEventRequest
*/
func (a *SkiareaAPIService) GetSkiareaEvent(ctx context.Context) ApiGetSkiareaEventRequest {
	return ApiGetSkiareaEventRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *SkiareaAPIService) GetSkiareaEventExecute(r ApiGetSkiareaEventRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SkiareaAPIService.GetSkiareaEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/skiarea/get_event"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.eventId == nil {
		return localVarReturnValue, nil, reportError("eventId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "event_id", r.eventId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSkiareaStatusRequest struct {
	ctx        context.Context
	ApiService *SkiareaAPIService
	skiaraId   *int32
}

func (r ApiGetSkiareaStatusRequest) SkiaraId(skiaraId int32) ApiGetSkiareaStatusRequest {
	r.skiaraId = &skiaraId
	return r
}

func (r ApiGetSkiareaStatusRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetSkiareaStatusExecute(r)
}

/*
GetSkiareaStatus GET skiarea/get_skiarea_status (getSkiareaStatus)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSkiareaStatusRequest
*/
func (a *SkiareaAPIService) GetSkiareaStatus(ctx context.Context) ApiGetSkiareaStatusRequest {
	return ApiGetSkiareaStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *SkiareaAPIService) GetSkiareaStatusExecute(r ApiGetSkiareaStatusRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SkiareaAPIService.GetSkiareaStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/skiarea/get_skiarea_status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.skiaraId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skiara_id", r.skiaraId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAllSkiareasRequest struct {
	ctx        context.Context
	ApiService *SkiareaAPIService
	isDebugger *int32
}

// Debugger flag (0 / 1). Reveals unpublished skiareas if non-zero.
func (r ApiListAllSkiareasRequest) IsDebugger(isDebugger int32) ApiListAllSkiareasRequest {
	r.isDebugger = &isDebugger
	return r
}

func (r ApiListAllSkiareasRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.ListAllSkiareasExecute(r)
}

/*
ListAllSkiareas GET skiarea/get_all (listAllSkiareas)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListAllSkiareasRequest
*/
func (a *SkiareaAPIService) ListAllSkiareas(ctx context.Context) ApiListAllSkiareasRequest {
	return ApiListAllSkiareasRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *SkiareaAPIService) ListAllSkiareasExecute(r ApiListAllSkiareasRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SkiareaAPIService.ListAllSkiareas")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/skiarea/get_all"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.isDebugger != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_debugger", r.isDebugger, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListSkiareaCouponsRequest struct {
	ctx                  context.Context
	ApiService           *SkiareaAPIService
	couponId             *int32
	couponDistributionId *int32
}

// Target coupon identifier.
func (r ApiListSkiareaCouponsRequest) CouponId(couponId int32) ApiListSkiareaCouponsRequest {
	r.couponId = &couponId
	return r
}

// Optional distribution channel id; binds the coupon to a specific distribution context.
func (r ApiListSkiareaCouponsRequest) CouponDistributionId(couponDistributionId int32) ApiListSkiareaCouponsRequest {
	r.couponDistributionId = &couponDistributionId
	return r
}

func (r ApiListSkiareaCouponsRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.ListSkiareaCouponsExecute(r)
}

/*
ListSkiareaCoupons GET skiarea/get_coupon (listSkiareaCoupons)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListSkiareaCouponsRequest
*/
func (a *SkiareaAPIService) ListSkiareaCoupons(ctx context.Context) ApiListSkiareaCouponsRequest {
	return ApiListSkiareaCouponsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *SkiareaAPIService) ListSkiareaCouponsExecute(r ApiListSkiareaCouponsRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SkiareaAPIService.ListSkiareaCoupons")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/skiarea/get_coupon"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.couponId == nil {
		return localVarReturnValue, nil, reportError("couponId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "coupon_id", r.couponId, "form", "")
	if r.couponDistributionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "coupon_distribution_id", r.couponDistributionId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListSkiareaTopicsRequest struct {
	ctx           context.Context
	ApiService    *SkiareaAPIService
	userId        *int32
	token         *string
	max           *int32
	offset        *int32
	order         *string
	group         *string
	targetSkiarea *string
	findOption    *string
	isDebugger    *int32
}

// Automatically injected by SDK transport layer.
func (r ApiListSkiareaTopicsRequest) UserId(userId int32) ApiListSkiareaTopicsRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiListSkiareaTopicsRequest) Token(token string) ApiListSkiareaTopicsRequest {
	r.token = &token
	return r
}

func (r ApiListSkiareaTopicsRequest) Max(max int32) ApiListSkiareaTopicsRequest {
	r.max = &max
	return r
}

func (r ApiListSkiareaTopicsRequest) Offset(offset int32) ApiListSkiareaTopicsRequest {
	r.offset = &offset
	return r
}

func (r ApiListSkiareaTopicsRequest) Order(order string) ApiListSkiareaTopicsRequest {
	r.order = &order
	return r
}

func (r ApiListSkiareaTopicsRequest) Group(group string) ApiListSkiareaTopicsRequest {
	r.group = &group
	return r
}

func (r ApiListSkiareaTopicsRequest) TargetSkiarea(targetSkiarea string) ApiListSkiareaTopicsRequest {
	r.targetSkiarea = &targetSkiarea
	return r
}

func (r ApiListSkiareaTopicsRequest) FindOption(findOption string) ApiListSkiareaTopicsRequest {
	r.findOption = &findOption
	return r
}

func (r ApiListSkiareaTopicsRequest) IsDebugger(isDebugger int32) ApiListSkiareaTopicsRequest {
	r.isDebugger = &isDebugger
	return r
}

func (r ApiListSkiareaTopicsRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.ListSkiareaTopicsExecute(r)
}

/*
ListSkiareaTopics GET skiarea/get_topics (listSkiareaTopics)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListSkiareaTopicsRequest
*/
func (a *SkiareaAPIService) ListSkiareaTopics(ctx context.Context) ApiListSkiareaTopicsRequest {
	return ApiListSkiareaTopicsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *SkiareaAPIService) ListSkiareaTopicsExecute(r ApiListSkiareaTopicsRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SkiareaAPIService.ListSkiareaTopics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/skiarea/get_topics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.group != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group", r.group, "form", "")
	}
	if r.targetSkiarea != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_skiarea", r.targetSkiarea, "form", "")
	}
	if r.findOption != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "find_option", r.findOption, "form", "")
	}
	if r.isDebugger != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_debugger", r.isDebugger, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
