/*
yukiyama
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package gen

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// UserAPIService UserAPI service
type UserAPIService service

type ApiAddGroupFromMyGroupRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	id         *int32
	token      *string
	skiareaId  *int32
}

// Target user identifier (wire param name is &#x60;id&#x60;; semantically a user_id).
func (r ApiAddGroupFromMyGroupRequest) Id(id int32) ApiAddGroupFromMyGroupRequest {
	r.id = &id
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiAddGroupFromMyGroupRequest) Token(token string) ApiAddGroupFromMyGroupRequest {
	r.token = &token
	return r
}

func (r ApiAddGroupFromMyGroupRequest) SkiareaId(skiareaId int32) ApiAddGroupFromMyGroupRequest {
	r.skiareaId = &skiareaId
	return r
}

func (r ApiAddGroupFromMyGroupRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.AddGroupFromMyGroupExecute(r)
}

/*
AddGroupFromMyGroup GET user/add_group_by_mygroup (addGroupFromMyGroup)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAddGroupFromMyGroupRequest
*/
func (a *UserAPIService) AddGroupFromMyGroup(ctx context.Context) ApiAddGroupFromMyGroupRequest {
	return ApiAddGroupFromMyGroupRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) AddGroupFromMyGroupExecute(r ApiAddGroupFromMyGroupRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.AddGroupFromMyGroup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/add_group_by_mygroup"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.skiareaId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skiarea_id", r.skiareaId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAddMembersCardRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	userId     *int32
	token      *string
	cardId     *string
}

// Automatically injected by SDK transport layer.
func (r ApiAddMembersCardRequest) UserId(userId int32) ApiAddMembersCardRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiAddMembersCardRequest) Token(token string) ApiAddMembersCardRequest {
	r.token = &token
	return r
}

func (r ApiAddMembersCardRequest) CardId(cardId string) ApiAddMembersCardRequest {
	r.cardId = &cardId
	return r
}

func (r ApiAddMembersCardRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.AddMembersCardExecute(r)
}

/*
AddMembersCard GET user/add_members_card (addMembersCard)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAddMembersCardRequest
*/
func (a *UserAPIService) AddMembersCard(ctx context.Context) ApiAddMembersCardRequest {
	return ApiAddMembersCardRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) AddMembersCardExecute(r ApiAddMembersCardRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.AddMembersCard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/add_members_card"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.cardId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "card_id", r.cardId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAddStanceRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
}

func (r ApiAddStanceRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.AddStanceExecute(r)
}

/*
AddStance GET user/add_stance (addStance)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAddStanceRequest
*/
func (a *UserAPIService) AddStance(ctx context.Context) ApiAddStanceRequest {
	return ApiAddStanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) AddStanceExecute(r ApiAddStanceRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.AddStance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/add_stance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAddUserBlockRequest struct {
	ctx          context.Context
	ApiService   *UserAPIService
	userId       *int32
	token        *string
	targetUserId *int32
}

// Automatically injected by SDK transport layer.
func (r ApiAddUserBlockRequest) UserId(userId int32) ApiAddUserBlockRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiAddUserBlockRequest) Token(token string) ApiAddUserBlockRequest {
	r.token = &token
	return r
}

func (r ApiAddUserBlockRequest) TargetUserId(targetUserId int32) ApiAddUserBlockRequest {
	r.targetUserId = &targetUserId
	return r
}

func (r ApiAddUserBlockRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.AddUserBlockExecute(r)
}

/*
AddUserBlock GET user/add_block (addUserBlock)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAddUserBlockRequest
*/
func (a *UserAPIService) AddUserBlock(ctx context.Context) ApiAddUserBlockRequest {
	return ApiAddUserBlockRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) AddUserBlockExecute(r ApiAddUserBlockRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.AddUserBlock")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/add_block"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.targetUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "target_user_id", r.targetUserId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelMembersCardRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	userId     *int32
	token      *string
}

// Automatically injected by SDK transport layer.
func (r ApiCancelMembersCardRequest) UserId(userId int32) ApiCancelMembersCardRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiCancelMembersCardRequest) Token(token string) ApiCancelMembersCardRequest {
	r.token = &token
	return r
}

func (r ApiCancelMembersCardRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.CancelMembersCardExecute(r)
}

/*
CancelMembersCard GET user/cancel_members_card (cancelMembersCard)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCancelMembersCardRequest
*/
func (a *UserAPIService) CancelMembersCard(ctx context.Context) ApiCancelMembersCardRequest {
	return ApiCancelMembersCardRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) CancelMembersCardExecute(r ApiCancelMembersCardRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.CancelMembersCard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/cancel_members_card"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelSupporterStatusRequest struct {
	ctx         context.Context
	ApiService  *UserAPIService
	userId      *int32
	token       *string
	isSupporter *int32
}

// Automatically injected by SDK transport layer.
func (r ApiCancelSupporterStatusRequest) UserId(userId int32) ApiCancelSupporterStatusRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiCancelSupporterStatusRequest) Token(token string) ApiCancelSupporterStatusRequest {
	r.token = &token
	return r
}

func (r ApiCancelSupporterStatusRequest) IsSupporter(isSupporter int32) ApiCancelSupporterStatusRequest {
	r.isSupporter = &isSupporter
	return r
}

func (r ApiCancelSupporterStatusRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.CancelSupporterStatusExecute(r)
}

/*
CancelSupporterStatus GET user/update_supporter_status (cancelSupporterStatus)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCancelSupporterStatusRequest
*/
func (a *UserAPIService) CancelSupporterStatus(ctx context.Context) ApiCancelSupporterStatusRequest {
	return ApiCancelSupporterStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) CancelSupporterStatusExecute(r ApiCancelSupporterStatusRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.CancelSupporterStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/update_supporter_status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.isSupporter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_supporter", r.isSupporter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiChangePasswordRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
}

func (r ApiChangePasswordRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.ChangePasswordExecute(r)
}

/*
ChangePassword POST user/change_pw (changePassword)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiChangePasswordRequest
*/
func (a *UserAPIService) ChangePassword(ctx context.Context) ApiChangePasswordRequest {
	return ApiChangePasswordRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) ChangePasswordExecute(r ApiChangePasswordRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.ChangePassword")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/change_pw"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCheckUserIdAvailableRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	userId     *string
}

// User-facing ID (userName, 10-char base62-ish string). NOT the numeric user_id used elsewhere. This endpoint checks availability of a desired userName, so the SDK transport must NOT auto-inject the caller&#39;s numeric user_id here.
func (r ApiCheckUserIdAvailableRequest) UserId(userId string) ApiCheckUserIdAvailableRequest {
	r.userId = &userId
	return r
}

func (r ApiCheckUserIdAvailableRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.CheckUserIdAvailableExecute(r)
}

/*
CheckUserIdAvailable GET user/checkid (checkUserIdAvailable)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCheckUserIdAvailableRequest
*/
func (a *UserAPIService) CheckUserIdAvailable(ctx context.Context) ApiCheckUserIdAvailableRequest {
	return ApiCheckUserIdAvailableRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) CheckUserIdAvailableExecute(r ApiCheckUserIdAvailableRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.CheckUserIdAvailable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/checkid"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userId == nil {
		return localVarReturnValue, nil, reportError("userId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiClearFavoriteStanceRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	userId     *int32
	token      *string
}

// Automatically injected by SDK transport layer.
func (r ApiClearFavoriteStanceRequest) UserId(userId int32) ApiClearFavoriteStanceRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiClearFavoriteStanceRequest) Token(token string) ApiClearFavoriteStanceRequest {
	r.token = &token
	return r
}

func (r ApiClearFavoriteStanceRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.ClearFavoriteStanceExecute(r)
}

/*
ClearFavoriteStance GET user/clear_favorite_stance (clearFavoriteStance)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiClearFavoriteStanceRequest
*/
func (a *UserAPIService) ClearFavoriteStance(ctx context.Context) ApiClearFavoriteStanceRequest {
	return ApiClearFavoriteStanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) ClearFavoriteStanceExecute(r ApiClearFavoriteStanceRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.ClearFavoriteStance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/clear_favorite_stance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteMyGroupRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	id         *int32
	token      *string
}

// Target user identifier (wire param name is &#x60;id&#x60;; semantically a user_id).
func (r ApiDeleteMyGroupRequest) Id(id int32) ApiDeleteMyGroupRequest {
	r.id = &id
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiDeleteMyGroupRequest) Token(token string) ApiDeleteMyGroupRequest {
	r.token = &token
	return r
}

func (r ApiDeleteMyGroupRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.DeleteMyGroupExecute(r)
}

/*
DeleteMyGroup GET user/delete_my_group (deleteMyGroup)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDeleteMyGroupRequest
*/
func (a *UserAPIService) DeleteMyGroup(ctx context.Context) ApiDeleteMyGroupRequest {
	return ApiDeleteMyGroupRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) DeleteMyGroupExecute(r ApiDeleteMyGroupRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.DeleteMyGroup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/delete_my_group"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteScheduleRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	id         *int32
	token      *string
	scheduleId *int32
}

// Target user identifier (wire param name is &#x60;id&#x60;; semantically a user_id).
func (r ApiDeleteScheduleRequest) Id(id int32) ApiDeleteScheduleRequest {
	r.id = &id
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiDeleteScheduleRequest) Token(token string) ApiDeleteScheduleRequest {
	r.token = &token
	return r
}

func (r ApiDeleteScheduleRequest) ScheduleId(scheduleId int32) ApiDeleteScheduleRequest {
	r.scheduleId = &scheduleId
	return r
}

func (r ApiDeleteScheduleRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.DeleteScheduleExecute(r)
}

/*
DeleteSchedule GET user/delete_schedule (deleteSchedule)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDeleteScheduleRequest
*/
func (a *UserAPIService) DeleteSchedule(ctx context.Context) ApiDeleteScheduleRequest {
	return ApiDeleteScheduleRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) DeleteScheduleExecute(r ApiDeleteScheduleRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.DeleteSchedule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/delete_schedule"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.scheduleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "schedule_id", r.scheduleId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteStanceRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	userId     *int32
	token      *string
	stanceId   *int32
}

// Automatically injected by SDK transport layer.
func (r ApiDeleteStanceRequest) UserId(userId int32) ApiDeleteStanceRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiDeleteStanceRequest) Token(token string) ApiDeleteStanceRequest {
	r.token = &token
	return r
}

func (r ApiDeleteStanceRequest) StanceId(stanceId int32) ApiDeleteStanceRequest {
	r.stanceId = &stanceId
	return r
}

func (r ApiDeleteStanceRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.DeleteStanceExecute(r)
}

/*
DeleteStance GET user/delete_stance (deleteStance)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDeleteStanceRequest
*/
func (a *UserAPIService) DeleteStance(ctx context.Context) ApiDeleteStanceRequest {
	return ApiDeleteStanceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) DeleteStanceExecute(r ApiDeleteStanceRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.DeleteStance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/delete_stance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.stanceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stance_id", r.stanceId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteUserGearRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	userId     *int32
	token      *string
}

// Automatically injected by SDK transport layer.
func (r ApiDeleteUserGearRequest) UserId(userId int32) ApiDeleteUserGearRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiDeleteUserGearRequest) Token(token string) ApiDeleteUserGearRequest {
	r.token = &token
	return r
}

func (r ApiDeleteUserGearRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.DeleteUserGearExecute(r)
}

/*
DeleteUserGear GET user/delete_user_gear (deleteUserGear)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDeleteUserGearRequest
*/
func (a *UserAPIService) DeleteUserGear(ctx context.Context) ApiDeleteUserGearRequest {
	return ApiDeleteUserGearRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) DeleteUserGearExecute(r ApiDeleteUserGearRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.DeleteUserGear")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/delete_user_gear"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEditProfileRequest struct {
	ctx                  context.Context
	ApiService           *UserAPIService
	userId               *int32
	token                *string
	mainGear             *string
	birthday             *string
	gender               *float32
	birthplace           *string
	style                *string
	level                *string
	experience           *string
	homeskiareaId        *int32
	birthmonthdayVisible *int32
	birthyearVisible     *int32
	birthplaceVisible    *int32
	isShowSupporterLabel *int32
}

func (r ApiEditProfileRequest) UserId(userId int32) ApiEditProfileRequest {
	r.userId = &userId
	return r
}

func (r ApiEditProfileRequest) Token(token string) ApiEditProfileRequest {
	r.token = &token
	return r
}

func (r ApiEditProfileRequest) MainGear(mainGear string) ApiEditProfileRequest {
	r.mainGear = &mainGear
	return r
}

func (r ApiEditProfileRequest) Birthday(birthday string) ApiEditProfileRequest {
	r.birthday = &birthday
	return r
}

func (r ApiEditProfileRequest) Gender(gender float32) ApiEditProfileRequest {
	r.gender = &gender
	return r
}

func (r ApiEditProfileRequest) Birthplace(birthplace string) ApiEditProfileRequest {
	r.birthplace = &birthplace
	return r
}

func (r ApiEditProfileRequest) Style(style string) ApiEditProfileRequest {
	r.style = &style
	return r
}

func (r ApiEditProfileRequest) Level(level string) ApiEditProfileRequest {
	r.level = &level
	return r
}

func (r ApiEditProfileRequest) Experience(experience string) ApiEditProfileRequest {
	r.experience = &experience
	return r
}

func (r ApiEditProfileRequest) HomeskiareaId(homeskiareaId int32) ApiEditProfileRequest {
	r.homeskiareaId = &homeskiareaId
	return r
}

func (r ApiEditProfileRequest) BirthmonthdayVisible(birthmonthdayVisible int32) ApiEditProfileRequest {
	r.birthmonthdayVisible = &birthmonthdayVisible
	return r
}

func (r ApiEditProfileRequest) BirthyearVisible(birthyearVisible int32) ApiEditProfileRequest {
	r.birthyearVisible = &birthyearVisible
	return r
}

func (r ApiEditProfileRequest) BirthplaceVisible(birthplaceVisible int32) ApiEditProfileRequest {
	r.birthplaceVisible = &birthplaceVisible
	return r
}

func (r ApiEditProfileRequest) IsShowSupporterLabel(isShowSupporterLabel int32) ApiEditProfileRequest {
	r.isShowSupporterLabel = &isShowSupporterLabel
	return r
}

func (r ApiEditProfileRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.EditProfileExecute(r)
}

/*
EditProfile POST user/profile_edit (editProfile)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiEditProfileRequest
*/
func (a *UserAPIService) EditProfile(ctx context.Context) ApiEditProfileRequest {
	return ApiEditProfileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) EditProfileExecute(r ApiEditProfileRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.EditProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/profile_edit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "user_id", r.userId, "", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "token", r.token, "", "")
	}
	if r.mainGear != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "main_gear", r.mainGear, "", "")
	}
	if r.birthday != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "birthday", r.birthday, "", "")
	}
	if r.gender != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gender", r.gender, "", "")
	}
	if r.birthplace != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "birthplace", r.birthplace, "", "")
	}
	if r.style != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "style", r.style, "", "")
	}
	if r.level != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "level", r.level, "", "")
	}
	if r.experience != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "experience", r.experience, "", "")
	}
	if r.homeskiareaId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "homeskiarea_id", r.homeskiareaId, "", "")
	}
	if r.birthmonthdayVisible != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "birthmonthday_visible", r.birthmonthdayVisible, "", "")
	}
	if r.birthyearVisible != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "birthyear_visible", r.birthyearVisible, "", "")
	}
	if r.birthplaceVisible != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "birthplace_visible", r.birthplaceVisible, "", "")
	}
	if r.isShowSupporterLabel != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "is_show_supporter_label", r.isShowSupporterLabel, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEditUserRequest struct {
	ctx          context.Context
	ApiService   *UserAPIService
	userId       *int32
	token        *string
	nickname     *string
	appeal       *string
	instagramUrl *string
	facebookUrl  *string
	twitterUrl   *string
	youtubeUrl   *string
	tiktokUrl    *string
}

func (r ApiEditUserRequest) UserId(userId int32) ApiEditUserRequest {
	r.userId = &userId
	return r
}

func (r ApiEditUserRequest) Token(token string) ApiEditUserRequest {
	r.token = &token
	return r
}

func (r ApiEditUserRequest) Nickname(nickname string) ApiEditUserRequest {
	r.nickname = &nickname
	return r
}

func (r ApiEditUserRequest) Appeal(appeal string) ApiEditUserRequest {
	r.appeal = &appeal
	return r
}

func (r ApiEditUserRequest) InstagramUrl(instagramUrl string) ApiEditUserRequest {
	r.instagramUrl = &instagramUrl
	return r
}

func (r ApiEditUserRequest) FacebookUrl(facebookUrl string) ApiEditUserRequest {
	r.facebookUrl = &facebookUrl
	return r
}

func (r ApiEditUserRequest) TwitterUrl(twitterUrl string) ApiEditUserRequest {
	r.twitterUrl = &twitterUrl
	return r
}

func (r ApiEditUserRequest) YoutubeUrl(youtubeUrl string) ApiEditUserRequest {
	r.youtubeUrl = &youtubeUrl
	return r
}

func (r ApiEditUserRequest) TiktokUrl(tiktokUrl string) ApiEditUserRequest {
	r.tiktokUrl = &tiktokUrl
	return r
}

func (r ApiEditUserRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.EditUserExecute(r)
}

/*
EditUser POST user/user_edit (editUser)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiEditUserRequest
*/
func (a *UserAPIService) EditUser(ctx context.Context) ApiEditUserRequest {
	return ApiEditUserRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) EditUserExecute(r ApiEditUserRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.EditUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/user_edit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "user_id", r.userId, "", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "token", r.token, "", "")
	}
	if r.nickname != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "nickname", r.nickname, "", "")
	}
	if r.appeal != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "appeal", r.appeal, "", "")
	}
	if r.instagramUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "instagram_url", r.instagramUrl, "", "")
	}
	if r.facebookUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "facebook_url", r.facebookUrl, "", "")
	}
	if r.twitterUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "twitter_url", r.twitterUrl, "", "")
	}
	if r.youtubeUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "youtube_url", r.youtubeUrl, "", "")
	}
	if r.tiktokUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "tiktok_url", r.tiktokUrl, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEditUserGearRequest struct {
	ctx         context.Context
	ApiService  *UserAPIService
	userId      *int32
	token       *string
	gearBoard   *string
	gearSki     *string
	gearBinding *string
	gearBoots   *string
	gearGoggle  *string
	gearGloves  *string
	gearWear    *string
	gearPants   *string
	gearPole    *string
	gearHead    *string
	gearOther   *string
}

func (r ApiEditUserGearRequest) UserId(userId int32) ApiEditUserGearRequest {
	r.userId = &userId
	return r
}

func (r ApiEditUserGearRequest) Token(token string) ApiEditUserGearRequest {
	r.token = &token
	return r
}

func (r ApiEditUserGearRequest) GearBoard(gearBoard string) ApiEditUserGearRequest {
	r.gearBoard = &gearBoard
	return r
}

func (r ApiEditUserGearRequest) GearSki(gearSki string) ApiEditUserGearRequest {
	r.gearSki = &gearSki
	return r
}

func (r ApiEditUserGearRequest) GearBinding(gearBinding string) ApiEditUserGearRequest {
	r.gearBinding = &gearBinding
	return r
}

func (r ApiEditUserGearRequest) GearBoots(gearBoots string) ApiEditUserGearRequest {
	r.gearBoots = &gearBoots
	return r
}

func (r ApiEditUserGearRequest) GearGoggle(gearGoggle string) ApiEditUserGearRequest {
	r.gearGoggle = &gearGoggle
	return r
}

func (r ApiEditUserGearRequest) GearGloves(gearGloves string) ApiEditUserGearRequest {
	r.gearGloves = &gearGloves
	return r
}

func (r ApiEditUserGearRequest) GearWear(gearWear string) ApiEditUserGearRequest {
	r.gearWear = &gearWear
	return r
}

func (r ApiEditUserGearRequest) GearPants(gearPants string) ApiEditUserGearRequest {
	r.gearPants = &gearPants
	return r
}

func (r ApiEditUserGearRequest) GearPole(gearPole string) ApiEditUserGearRequest {
	r.gearPole = &gearPole
	return r
}

func (r ApiEditUserGearRequest) GearHead(gearHead string) ApiEditUserGearRequest {
	r.gearHead = &gearHead
	return r
}

func (r ApiEditUserGearRequest) GearOther(gearOther string) ApiEditUserGearRequest {
	r.gearOther = &gearOther
	return r
}

func (r ApiEditUserGearRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.EditUserGearExecute(r)
}

/*
EditUserGear POST user/gear_edit (editUserGear)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiEditUserGearRequest
*/
func (a *UserAPIService) EditUserGear(ctx context.Context) ApiEditUserGearRequest {
	return ApiEditUserGearRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) EditUserGearExecute(r ApiEditUserGearRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.EditUserGear")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/gear_edit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "user_id", r.userId, "", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "token", r.token, "", "")
	}
	if r.gearBoard != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_board", r.gearBoard, "", "")
	}
	if r.gearSki != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_ski", r.gearSki, "", "")
	}
	if r.gearBinding != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_binding", r.gearBinding, "", "")
	}
	if r.gearBoots != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_boots", r.gearBoots, "", "")
	}
	if r.gearGoggle != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_goggle", r.gearGoggle, "", "")
	}
	if r.gearGloves != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_gloves", r.gearGloves, "", "")
	}
	if r.gearWear != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_wear", r.gearWear, "", "")
	}
	if r.gearPants != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_pants", r.gearPants, "", "")
	}
	if r.gearPole != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_pole", r.gearPole, "", "")
	}
	if r.gearHead != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_head", r.gearHead, "", "")
	}
	if r.gearOther != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gear_other", r.gearOther, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEditUserNewRequest struct {
	ctx                  context.Context
	ApiService           *UserAPIService
	userId               *int32
	token                *string
	nickname             *string
	appeal               *string
	instagramUrl         *string
	facebookUrl          *string
	twitterUrl           *string
	youtubeUrl           *string
	tiktokUrl            *string
	mainGear             *string
	birthday             *string
	gender               *float32
	birthplace           *string
	style                *string
	level                *string
	experience           *string
	homeskiareaId        *int32
	birthmonthdayVisible *int32
	birthyearVisible     *int32
	birthplaceVisible    *int32
	isShowSupporterLabel *int32
}

func (r ApiEditUserNewRequest) UserId(userId int32) ApiEditUserNewRequest {
	r.userId = &userId
	return r
}

func (r ApiEditUserNewRequest) Token(token string) ApiEditUserNewRequest {
	r.token = &token
	return r
}

func (r ApiEditUserNewRequest) Nickname(nickname string) ApiEditUserNewRequest {
	r.nickname = &nickname
	return r
}

func (r ApiEditUserNewRequest) Appeal(appeal string) ApiEditUserNewRequest {
	r.appeal = &appeal
	return r
}

func (r ApiEditUserNewRequest) InstagramUrl(instagramUrl string) ApiEditUserNewRequest {
	r.instagramUrl = &instagramUrl
	return r
}

func (r ApiEditUserNewRequest) FacebookUrl(facebookUrl string) ApiEditUserNewRequest {
	r.facebookUrl = &facebookUrl
	return r
}

func (r ApiEditUserNewRequest) TwitterUrl(twitterUrl string) ApiEditUserNewRequest {
	r.twitterUrl = &twitterUrl
	return r
}

func (r ApiEditUserNewRequest) YoutubeUrl(youtubeUrl string) ApiEditUserNewRequest {
	r.youtubeUrl = &youtubeUrl
	return r
}

func (r ApiEditUserNewRequest) TiktokUrl(tiktokUrl string) ApiEditUserNewRequest {
	r.tiktokUrl = &tiktokUrl
	return r
}

func (r ApiEditUserNewRequest) MainGear(mainGear string) ApiEditUserNewRequest {
	r.mainGear = &mainGear
	return r
}

func (r ApiEditUserNewRequest) Birthday(birthday string) ApiEditUserNewRequest {
	r.birthday = &birthday
	return r
}

func (r ApiEditUserNewRequest) Gender(gender float32) ApiEditUserNewRequest {
	r.gender = &gender
	return r
}

func (r ApiEditUserNewRequest) Birthplace(birthplace string) ApiEditUserNewRequest {
	r.birthplace = &birthplace
	return r
}

func (r ApiEditUserNewRequest) Style(style string) ApiEditUserNewRequest {
	r.style = &style
	return r
}

func (r ApiEditUserNewRequest) Level(level string) ApiEditUserNewRequest {
	r.level = &level
	return r
}

func (r ApiEditUserNewRequest) Experience(experience string) ApiEditUserNewRequest {
	r.experience = &experience
	return r
}

func (r ApiEditUserNewRequest) HomeskiareaId(homeskiareaId int32) ApiEditUserNewRequest {
	r.homeskiareaId = &homeskiareaId
	return r
}

func (r ApiEditUserNewRequest) BirthmonthdayVisible(birthmonthdayVisible int32) ApiEditUserNewRequest {
	r.birthmonthdayVisible = &birthmonthdayVisible
	return r
}

func (r ApiEditUserNewRequest) BirthyearVisible(birthyearVisible int32) ApiEditUserNewRequest {
	r.birthyearVisible = &birthyearVisible
	return r
}

func (r ApiEditUserNewRequest) BirthplaceVisible(birthplaceVisible int32) ApiEditUserNewRequest {
	r.birthplaceVisible = &birthplaceVisible
	return r
}

func (r ApiEditUserNewRequest) IsShowSupporterLabel(isShowSupporterLabel int32) ApiEditUserNewRequest {
	r.isShowSupporterLabel = &isShowSupporterLabel
	return r
}

func (r ApiEditUserNewRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.EditUserNewExecute(r)
}

/*
EditUserNew POST user/user_edit_new (editUserNew)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiEditUserNewRequest
*/
func (a *UserAPIService) EditUserNew(ctx context.Context) ApiEditUserNewRequest {
	return ApiEditUserNewRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) EditUserNewExecute(r ApiEditUserNewRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.EditUserNew")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/user_edit_new"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "user_id", r.userId, "", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "token", r.token, "", "")
	}
	if r.nickname != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "nickname", r.nickname, "", "")
	}
	if r.appeal != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "appeal", r.appeal, "", "")
	}
	if r.instagramUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "instagram_url", r.instagramUrl, "", "")
	}
	if r.facebookUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "facebook_url", r.facebookUrl, "", "")
	}
	if r.twitterUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "twitter_url", r.twitterUrl, "", "")
	}
	if r.youtubeUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "youtube_url", r.youtubeUrl, "", "")
	}
	if r.tiktokUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "tiktok_url", r.tiktokUrl, "", "")
	}
	if r.mainGear != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "main_gear", r.mainGear, "", "")
	}
	if r.birthday != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "birthday", r.birthday, "", "")
	}
	if r.gender != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "gender", r.gender, "", "")
	}
	if r.birthplace != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "birthplace", r.birthplace, "", "")
	}
	if r.style != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "style", r.style, "", "")
	}
	if r.level != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "level", r.level, "", "")
	}
	if r.experience != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "experience", r.experience, "", "")
	}
	if r.homeskiareaId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "homeskiarea_id", r.homeskiareaId, "", "")
	}
	if r.birthmonthdayVisible != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "birthmonthday_visible", r.birthmonthdayVisible, "", "")
	}
	if r.birthyearVisible != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "birthyear_visible", r.birthyearVisible, "", "")
	}
	if r.birthplaceVisible != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "birthplace_visible", r.birthplaceVisible, "", "")
	}
	if r.isShowSupporterLabel != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "is_show_supporter_label", r.isShowSupporterLabel, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindUsersRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	userId     *int32
	keyword    *string
	findOption *string
	max        *int32
	offset     *int32
}

// Automatically injected by SDK transport layer.
func (r ApiFindUsersRequest) UserId(userId int32) ApiFindUsersRequest {
	r.userId = &userId
	return r
}

func (r ApiFindUsersRequest) Keyword(keyword string) ApiFindUsersRequest {
	r.keyword = &keyword
	return r
}

func (r ApiFindUsersRequest) FindOption(findOption string) ApiFindUsersRequest {
	r.findOption = &findOption
	return r
}

func (r ApiFindUsersRequest) Max(max int32) ApiFindUsersRequest {
	r.max = &max
	return r
}

func (r ApiFindUsersRequest) Offset(offset int32) ApiFindUsersRequest {
	r.offset = &offset
	return r
}

func (r ApiFindUsersRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.FindUsersExecute(r)
}

/*
FindUsers GET user/find_user (findUsers)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiFindUsersRequest
*/
func (a *UserAPIService) FindUsers(ctx context.Context) ApiFindUsersRequest {
	return ApiFindUsersRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) FindUsersExecute(r ApiFindUsersRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.FindUsers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/find_user"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.findOption != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "find_option", r.findOption, "form", "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMyPageRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	id         *int32
	userId     *int32
	token      *string
	isDebugger *int32
}

// Target user identifier (wire param name is &#x60;id&#x60;; semantically a user_id).
func (r ApiGetMyPageRequest) Id(id int32) ApiGetMyPageRequest {
	r.id = &id
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetMyPageRequest) UserId(userId int32) ApiGetMyPageRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetMyPageRequest) Token(token string) ApiGetMyPageRequest {
	r.token = &token
	return r
}

func (r ApiGetMyPageRequest) IsDebugger(isDebugger int32) ApiGetMyPageRequest {
	r.isDebugger = &isDebugger
	return r
}

func (r ApiGetMyPageRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetMyPageExecute(r)
}

/*
GetMyPage GET user/get_mypage (getMyPage)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetMyPageRequest
*/
func (a *UserAPIService) GetMyPage(ctx context.Context) ApiGetMyPageRequest {
	return ApiGetMyPageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) GetMyPageExecute(r ApiGetMyPageRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.GetMyPage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/get_mypage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.isDebugger != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_debugger", r.isDebugger, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRidingAnalysisRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	id         *int32
	userId     *int32
	token      *string
}

// Target user identifier (wire param name is &#x60;id&#x60;; semantically a user_id).
func (r ApiGetRidingAnalysisRequest) Id(id int32) ApiGetRidingAnalysisRequest {
	r.id = &id
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetRidingAnalysisRequest) UserId(userId int32) ApiGetRidingAnalysisRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetRidingAnalysisRequest) Token(token string) ApiGetRidingAnalysisRequest {
	r.token = &token
	return r
}

func (r ApiGetRidingAnalysisRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetRidingAnalysisExecute(r)
}

/*
GetRidingAnalysis GET user/get_riding_analysis (getRidingAnalysis)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRidingAnalysisRequest
*/
func (a *UserAPIService) GetRidingAnalysis(ctx context.Context) ApiGetRidingAnalysisRequest {
	return ApiGetRidingAnalysisRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) GetRidingAnalysisExecute(r ApiGetRidingAnalysisRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.GetRidingAnalysis")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/get_riding_analysis"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRidingGraphRequest struct {
	ctx          context.Context
	ApiService   *UserAPIService
	userId       *int32
	token        *string
	selectTerm   *string
	selectTarget *string
	preTarget    *string
	debugUserId  *string
}

// Automatically injected by SDK transport layer.
func (r ApiGetRidingGraphRequest) UserId(userId int32) ApiGetRidingGraphRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetRidingGraphRequest) Token(token string) ApiGetRidingGraphRequest {
	r.token = &token
	return r
}

func (r ApiGetRidingGraphRequest) SelectTerm(selectTerm string) ApiGetRidingGraphRequest {
	r.selectTerm = &selectTerm
	return r
}

func (r ApiGetRidingGraphRequest) SelectTarget(selectTarget string) ApiGetRidingGraphRequest {
	r.selectTarget = &selectTarget
	return r
}

func (r ApiGetRidingGraphRequest) PreTarget(preTarget string) ApiGetRidingGraphRequest {
	r.preTarget = &preTarget
	return r
}

func (r ApiGetRidingGraphRequest) DebugUserId(debugUserId string) ApiGetRidingGraphRequest {
	r.debugUserId = &debugUserId
	return r
}

func (r ApiGetRidingGraphRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetRidingGraphExecute(r)
}

/*
GetRidingGraph GET user/get_riding_graph (getRidingGraph)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRidingGraphRequest
*/
func (a *UserAPIService) GetRidingGraph(ctx context.Context) ApiGetRidingGraphRequest {
	return ApiGetRidingGraphRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) GetRidingGraphExecute(r ApiGetRidingGraphRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.GetRidingGraph")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/get_riding_graph"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.selectTerm != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "select_term", r.selectTerm, "form", "")
	}
	if r.selectTarget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "select_target", r.selectTarget, "form", "")
	}
	if r.preTarget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pre_target", r.preTarget, "form", "")
	}
	if r.debugUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "debug_user_id", r.debugUserId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetScheduleDetailRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	id         *int32
	token      *string
	scheduleId *int32
}

// Target user identifier (wire param name is &#x60;id&#x60;; semantically a user_id).
func (r ApiGetScheduleDetailRequest) Id(id int32) ApiGetScheduleDetailRequest {
	r.id = &id
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetScheduleDetailRequest) Token(token string) ApiGetScheduleDetailRequest {
	r.token = &token
	return r
}

func (r ApiGetScheduleDetailRequest) ScheduleId(scheduleId int32) ApiGetScheduleDetailRequest {
	r.scheduleId = &scheduleId
	return r
}

func (r ApiGetScheduleDetailRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetScheduleDetailExecute(r)
}

/*
GetScheduleDetail GET user/get_schedule_detail (getScheduleDetail)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetScheduleDetailRequest
*/
func (a *UserAPIService) GetScheduleDetail(ctx context.Context) ApiGetScheduleDetailRequest {
	return ApiGetScheduleDetailRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) GetScheduleDetailExecute(r ApiGetScheduleDetailRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAPIService.GetScheduleDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user/get_schedule_detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	if r.scheduleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "schedule_id", r.scheduleId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetStanceDetailRequest struct {
	ctx        context.Context
	ApiService *UserAPIService
	userId     *int32
	token      *string
	stanceId   *int32
}

// Automatically injected by SDK transport layer.
func (r ApiGetStanceDetailRequest) UserId(userId int32) ApiGetStanceDetailRequest {
	r.userId = &userId
	return r
}

// Automatically injected by SDK transport layer.
func (r ApiGetStanceDetailRequest) Token(token string) ApiGetStanceDetailRequest {
	r.token = &token
	return r
}

func (r ApiGetStanceDetailRequest) StanceId(stanceId int32) ApiGetStanceDetailRequest {
	r.stanceId = &stanceId
	return r
}

func (r ApiGetStanceDetailRequest) Execute() (*CommonResponse, *http.Response, error) {
	return r.ApiService.GetStanceDetailExecute(r)
}

/*
GetStanceDetail GET user/get_stance_detail (getStanceDetail)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetStanceDetailRequest
*/
func (a *UserAPIService) GetStanceDetail(ctx context.Context) ApiGetStanceDetailRequest {
	return ApiGetStanceDetailRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CommonResponse
func (a *UserAPIService) GetStanceDetailExecute(r ApiGetStanceDetailRequest) (*CommonResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CommonResponse
	)

[...]
